<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="StartupMasterSlave" type="Server.config.StartupMasterSlaveConfigSection,Server"></section>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <StartupMasterSlave>
    <MasterSlave>
      <add instanceType="slave" instanceCount="3"/>
    </MasterSlave>
  </StartupMasterSlave>
</configuration>